<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url}}/web/css/jukeinthebox.css">
	</head>

	<body>
		<div class="mainContainer">	
			<h1>JukeInTheBox</h1>
			<div class="buttons">
				<a class="button" href="{{url}}/ListJukebox"><div>Gérer les jukebox</div></a>
				<a class="button" href="{{url}}/ListCatalogue"><div>Gérer le catalogue</div></a>
			</div>

			
		</div>
	</body>

</html>