<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url}}/src/css/jukeinthebox.css">
	</head>

	<body>
		<div class="mainContainer">	
			<h1>JukeInTheBox</h1>
			<div class="buttons">
				<a href="{{url}}/ListJukebox"><div class="button">Gérer les jukebox</div></a>
				<a href="{{url}}/Catalogue"><div class="button">Gérer le catalogue</div></a>
			</div>
		</div>
	</body>

</html>